<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student expenses tracker</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif; 
        }

        .banner {
            width: 100%;
            height: 100vh; 
            background-color: #dbe6f1; 
            color: #0e0d0d;
        }

        .navbar {
            width: 85%;
            margin: auto;
            padding: 35px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .logo {
            width: 120px;
            cursor: pointer;
        }

        .navbar ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .navbar ul li {
            display: inline-block;
            margin: 0 20px;
            position: relative;
        }

        .navbar ul li a {
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
        }

        .navbar ul li::after {
            content: '';
            height: 3px;
            width: 0%;
            background: #0c35ec;
            position: absolute;
            left: 0;
            bottom: -10px;
            transition: 0.3s;
        }

        .navbar ul li:hover::after {
            width: 100%;
        }

        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .content h1 {
            font-size: 3em; 
            margin-top: 30px;
            white-space: nowrap;
        }
        button {
            width: 200px;
            padding: 15px 0;
            text-align: center;
            margin: 20px 10px;
            border-radius: 25px;
            font-weight: bold;
            border: 2px solid #007bff; 
            background: transparent;
            color: #01050a; 
            cursor: pointer;
            position: relative;
            overflow: hidden;
            font-size: 1em;
        }

        span {
            background: #74a8e1; 
            height: 100%;
            width: 0;
            border-radius: 25px;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
            transition: 0.5s;
        }

        button:hover span {
            width: 100%;
        }

        button:hover {
            border: none;
        }

        
    </style>
</head>
<body>
    <div class="banner">
        <div class="navbar">
        </div>
        <div class="content">
            <h1>Welcome to ANITS STUDENTS EXPENSE TRACKER </h1>
           
            <div>
                <a href="/login"><button type="button"><span></span>LOGIN</button></a>
                <a href="/register"><button type="button"><span></span>REGISTER</button></a>
            </div>
        </div>
    </div>
</body>
</html>
